<h1><%= @character.first_name %></h1>

<p><strong>First Name:</strong> <%= @character.first_name %></p>
<p><strong>Last Name:</strong> <%= @character.last_name %></p>
<p><strong>Universe:</strong> <%= @character.universe %></p>
<p><strong>Bio:</strong> <%= @character.bio %></p>

<%= link_to 'Back to index', characters_path %>